DB_SERVER=SERVIDOR_BASE_DE_DATOS,PUERTO
DB_NAME=NOMBRE_BASE_DE_DATOS
DB_USER=USUARIO_DE_BASE_DE_DATOS
DB_PASSWORD=CONTRASEÑA_DE_BASE_DE_DATOS
DB_TRUST_CERT=True
# JWT
JWT_SECRET=CLAVE_SECRETA_DE_AL_MENOS_32_CARACTERES
JWT_ISSUER=BackendSystem
JWT_AUDIENCE=BackendClients
JWT_EXPIRE_MINUTES=60
